body {
  font-family: "Caveat", cursive;
}

.upper-color {
  background-color: #000;
  color: #fff;
  margin: 0 auto;
  border-radius: 0 0 10px 10px;
  padding: 0.5px;
  font-family: "Caveat", cursive;
}
/* font settings */
.main-title,
.main-content {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}
/* container */
.container {
  width: 90%;
  max-width: 500px;
  margin: 0 auto;
  background-color: lightblue;
}

.add-input {
  flex: 1;
  min-width: 0;
  margin: 10px;
}

.add-button {
  font-weight: bold;
  font-size: 15px;
  text-transform: uppercase;
}

.add-button,
.add-input {
  border-radius: 8px;
  font-family: "Caveat", cursive;
  padding: 10px;
  margin: 10px;
}

.add-button:hover {
  cursor: pointer;
}

li {
  background-color: #fff;
  border-radius: 8px;
}

.center-input-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

@media (max-width: 600px) {
  .container {
    width: 98%;
    max-width: 100%;
    padding: 0.5rem;
  }

  .main-title,
  .main-content {
    font-size: 1.3rem;
  }

  .center-input-btn,
  li {
    flex-direction: column;
    gap: 0.5rem;
    margin: 10px 10px 10px 10px;
  }

  .add-button,
  .add-input {
    width: 100%;
    font-size: 1rem;
    padding: 8px;
    flex: 1;
  }

  li {
    background-color: #fff;
    border-radius: 8px;
  }
}
